@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This website has no commercial purpose and was made during educational course on Udemy <a href="https://www.udemy.com/course/the-complete-aspnet-mvc-5-course/">The Complete ASP.NET MVC 5 Course</a></p>
